* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 100px;
    width: 100px;
    background: red;
    margin: 10px 0 0 10px;

}
.box1{
    height: 100px;
    width: 100px;
    background: red;
    margin: 0px 110px;
}
.box2{
    height: 100px;
    width: 100px;
    background: red;
    margin: 0px 210px;
}
