@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.585);
    font-family: "Alan Sans", sans-serif;
    
}
.box{
        width: 300px;
    height: 400px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuAS8rV6cdW_DJ2BPgMT624-YCQL2Hq9_pQA&s);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}



.container{
    
    top: 100px;
    left: 500px;
    right: 0;
    bottom: 0;
    background-color: blanchedalmond;
    height: 400px;
    width: 800px;
    position: absolute;
   
    
}
.bg{
    position: relative;
     background-image: url(https://cdn.britannica.com/49/251849-050-54AE4F9E/bryan-cranston-aaron-paul-breaking-bad.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:overlay; 
    background-color: rgba(225, 213, 213, 0.7);
    
}
.title{
    color: rgb(14, 13, 13);
    position: relative;
    bottom: 50px;
    left:10px;
    padding: 10px;
}
.sub{
    position: relative;
    color: rgb(12, 12, 12);

}
.des{
    position: relative;
   
    color: rgb(4, 4, 4);
    text-align: left;
    left: 10px;
    padding: 10px;
    text-shadow: 50px;
    top:30px
}
.card1{
  border-collapse: separate;
  border: none;
}
table tr:first-child{
    border-top-right-radius: 10px;
}
.link{
    position: relative;
    top:50px;
    left:20px;   

}
a{
     background-color: transparent;
     border-radius: 5%;
     color: red;
     text-decoration: none;
     font-size: larger;
     border: 2px solid red;
     padding: 10px;
    

}
a:hover{
    background-color: red;
    color: aliceblue;
}





